@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

* {
    box-sizing: border-box;
}

body,
html {
    background: #EEEEEE;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
::-webkit-scrollbar-thumb:active {
  background: #808080;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.header-bar {
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    color: #404040;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    padding: 0px 40px;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 80px);
    justify-content: space-between;
    margin: auto;
}

nav {
    background: #181818;
    height: 100%;
    padding: 1.2rem;
    width: 270px;
}

nav a {
    color: rgba(255, 255, 255, 0.65);
    display: block;
    height: 35px;
    line-height: 35px;
    margin: 0.2em;
    padding: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #fff;
}

.link-active {
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #fff;
}

#main-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    width: calc(100% - 270px);
}

#main-content {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    height: 90%;
    margin: auto;
    overflow: auto;
    padding: 20px 40px;
    width: 95%;
}

#main-content h2 {
    margin: auto;
}

footer {
    align-items: center;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, .12);
    bottom: 0;
    color: #404040;
    display: flex;
    padding: 0 40px;
    height: 56px;
    text-align: right;
    width: calc(100%);
}